.blogs-container{
    width: 96%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 2rem;
}

.card{
    color: #333;
    gap: 10px;
    margin-top: 15px;
    font-style: initial;
}

.content{
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5px;
}